@media (max-width: 980px) {

    .mobile-footer{
        position: absolute;
        visibility: hidden;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        color: lightgray;
        padding: 2% 3%;
        font-size: 14px;
    }
    
    .footer-developer{
        padding: 0px 20px;
        text-align: left;
        text-transform: capitalize;
    }
    
    .footer-socials{
        padding: 0px 20px;
        text-transform: capitalize;
        padding-top: 10px;
    }
    
    .footer-socials a{
        text-decoration: none;
        color: lightgray;
        padding-left: 5px;
    }
    
    .footer-socials a:hover{
        text-decoration: none;
    }
    
    .footer-ux-ui{
        padding: 0px 20px;
        text-transform: capitalize;
    }
    
    .footer-ux-ui span{
        display: block;
        text-align: right;
    }  

}

@media (max-width: 800px) {
    footer{
        position: absolute;
        visibility: hidden;
    }

    .mobile-footer{
        background-color: black;
        padding-bottom: 40px; 
    }

    .mobile-footer-socials{
        text-align: center;
        padding: 15px;
    }

    .mobile-footer-socials a{
        text-decoration: none;
        color: lightgray;
        text-transform: capitalize;
        padding: 0px 5px;
    }

    .mobile-footr-devloper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        text-transform: capitalize;
        color: lightgray;
    }
}