/* page resetting */
body{
    margin: 0px;
    padding: 0px;
/*     border-spacing: 0px;
    font-family: initial;
    font-variant: initial;
    font-style: initial; */
    font-family: custombody;
    overflow-x: hidden;
    background-color: rgb(243, 243, 243);
    /* transition: all .2s linear; */
}
/* 
html{
    scroll-padding-top:  6rem;
    scroll-behavior: smooth;
} */