@font-face {
    font-family: worktypewriter;
    src: url("../font/fa-webfonts/fa-solid-900.ttf");
}

@font-face {
    font-family: custombody;
    src: url("../font/bolistatic/Baloo2-Regular.ttf");
}